<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Darshan Kalola">

    <link href="{% static 'patient-registration-rsc/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'patient-registration-rsc/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link href="{% static 'patient-registration-rsc/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'patient-registration-rsc/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <link href="{% static 'patient-registration-rsc/css/main.css' %}" rel="stylesheet" media="all">

    {% block head %}
    {% endblock %}
</head>

<body>
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">{% block title %}{% endblock %}</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {% block content %}
                    {% endblock %}
                    <div style="text-align: center">
                        <button class="btn btn--radius-2 btn--blue" type="submit">{% block action_type %}{% endblock %}</button>
                    </div>
                </form>
                <br>

                {% block return_button %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'patient-registration-rsc/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'patient-registration-rsc/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'patient-registration-rsc/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'patient-registration-rsc/vendor/datepicker/daterangepicker.js' %}"></script>
<script src="{% static 'patient-registration-rsc/js/global.js' %}"></script>
</body>
</html>
