/*.body {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-family: sans-serif;*/
    /*background-color: #fbfbfb;*/
/*}*/

/*.row {*/
    /*margin-left: 15px;*/
    /*margin-top: 15px;*/
/*}*/

/*.card,*/
/*.bg-light,*/
/*.mb-3,*/
/*.override {*/
    /*margin-right: 10px;*/
    /*max-width: 30rem;*/
    /*border-radius: 10px;*/
/*}*/

/*.card-text,*/
/*.override {*/
    /*font-size: 30px;*/
/*}*/

.card
.over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 400px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
}




