{% extends 'accounts/auth-base.html' %}
{% load static %}

{% block form %}
<form class="login100-form validate-form" method="POST" action="{% url 'accounts/login' %}">
    {% csrf_token %}
    <span class="login100-form-title p-b-43">
        Login
    </span>

    <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
        <input class="input100" type="text" name="username">
        <span class="label-input100">Username</span>
    </div>

    <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="pass">
        <span class="label-input100">Password</span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Sign in
        </button>
    </div>

    <div class="text-center w-full p-t-23">
        <a href="{% url 'accounts/sign-up' %}" class="txt1">
            Sign up
        </a>
    </div>
</form>
{% endblock %}