{% extends 'health_story/bases/home-base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'health-story-rsc/assets/css/specific/card-display.css'%}">
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Conditions</h1>

        <div class="row">
            {% if not conditions %}
                <div class="card bg-light mb-3 override">
                    <div class="card-body">
                        <h5 class="card-title">No conditions stored!</h5>
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            {% endif %}

            {% for condition in conditions %}
                <div class="card bg-light mb-3 override">
                    <div class="card-body">
                        <p class="card-text">{{ condition.name}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}