{% extends 'health_story/bases/home-base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'health-story-rsc/assets/css/specific/card-display.css' %}">
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Demographics</h1>

        <form method="POST" action="{% url 'health_story/edit_patient_info' %}">
            {% csrf_token %}
            {% if patient.admin_mode %}
                <div class="edit-button-container">
                    <input class="btn btn-success override" type="submit" value="Save">
                </div>
                <input type="hidden" name="origin" value="demographics">
            {% endif %}

            <div class="row">
                <div class="card bg-light mb-3 override">
                    <div class="card-body">
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">{{ patient.username }}</p>
                    </div>
                </div>
                <div class="card bg-light mb-3 override">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">{{ patient.get_full_name }}</p>
                    </div>
                </div>
                <div class="card bg-light mb-3 override">
                    <div class="card-body">
                        <h5 class="card-title">Age</h5>
                        <p class="card-text">{{ patient.get_age }}</p>
                    </div>
                </div>

                {% for data in ui_info %}
                    <div class="card bg-light mb-3 override">
                        <div class="card-body">
                            <h5 class="card-title">{{ data.0 }}</h5>
                            {% if patient.admin_mode %}
                                <input type="text" name="{{ data.0 }}" value="{{ data.1 }}">
                            {% else %}
                                <p class="card-text">{{ data.1 }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}