{% extends 'health_story/bases/home-base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'health-story-rsc/assets/css/specific/card-display.css'%}">
{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Family History</h1>

        <div class="row">
            {% if not relatives %}
                <div class="card bg-light mb-3 override">
                    <div class="card-body">
                        <h5 class="card-title">No relatives stored!</h5>
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            {% endif %}

            {% for relative in relatives %}
                <div class="card bg-light mb-3 override">
                    <div class="card-body">
                        <h5 class="card-title">{{ relative.full_name }}</h5>
                        <p class="card-text">
                            {{ relative.get_formatted_list_of_conditions }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}