{% extends 'health_story/bases/home-base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'health-story-rsc/assets/css/specific/timeline.css' %}">
{% endblock %}

{% block content %}
    <div class="timeline-content-self">
        <h1>Timeline</h1>

        <div class="main-timeline">
            {% for encounter in health_encounters %}
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-bed"></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">{{ encounter.location }}</h3>
                            <p class="date">
                                {{ encounter.date_formatted }}
                            </p>
                            <p class="description">
                                {{ encounter.description }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}