{% extends 'health_story/bases/home-base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'health-story-rsc/assets/css/specific/card-display.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card bg-light mb-3 override">
            <div class="card-body">
                <h5 class="card-title">Weight</h5>
                <p class="card-text">{{ patient.weight.lb }} lb</p>
            </div>
        </div>
        <div class="card bg-light mb-3 override">
            <div class="card-body">
                <h5 class="card-title">Height</h5>
                <p class="card-text">{{ patient.get_height_formatted }}</p>
            </div>
        </div>
    </div>
{% endblock %}